@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

::-webkit-scrollbar {
  display: none;
}
